

div#container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 4fr 3fr 1fr;
    grid-template-areas:
    "nav"
    "filter"
    "aside"
    "article1"
    "article2"
    "footer";
    height: 100vh;
    width: 100%;
    max-width: 375px;
    margin: auto;
}

/* Header */

header.nav {
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

header.nav nav {
    width: 100%;
}

a.linkNav {
    width: 50%;
    padding: 10px;
    text-align: center;
    border-top: none;
    border-bottom: 2px solid #f2f2f2;
}

a.linkNav:hover {
    border-top:none;
    border-bottom: 2px solid #0065fc;
}

/* Search */ 

main.search {
    grid-area: filter;
    margin: 20px;
}

div.searchIntro {
    margin-bottom: 30px;
}

form.searchForm {

    justify-content: center; /* centre la barre de recherche */
}


input.searchButton {
    display: none; /* n'affiche pas le bouton desktop */ 
}

button.mobileButton {
    width: 50px;
    display: block;
    background-color: #0065fc;
    border: none;
    border-radius: 15px;
    position: relative;
    right: 10px; /* décalage du bouton mobile pour qu'il chevauche la barre de recherche */
}

.mobileButton i {
    color: white;
    font-size: 15px;
}

/* Filter */

button.filterBox {
    margin: 5px;
    padding: 3px 15px 3px 0px;
} /* redimmension pour que les éléments s'adapte à la maquette mobile */ 

span.textButton {
    font-weight: 700;
    font-size: 15px;
    z-index: 1;

}

/* Aside */ 

aside.aside {
    margin: 0;
    border-radius: 0;
    padding: 10px 10px 30px 10px;
}

div.asideTitle {
    margin: 20px 5px 10px 5px;   
}

div.populaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}


div.populaireCard {
    width: 345px;
    margin: 5px;
}

/* Article 1 */

article.article1 {
    background-color: white;
    margin: 0;
    border-radius: 0;
    padding: 10px;
}

article.article1 h2 {
    margin: 20px 5px 10px 5px;
    padding-top: 5px;
    padding-left: 5px;
}

div.marseille {
    display: flex;
    flex-direction: column;
}

div.marseilleCard {
    width: 345px;
    margin: 5px;
}

/* Activité */

div.activites {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.activite1, div.activite2, div.activite3, div.activite4, div.activite5, div.activite6 {
    width: 345px;
    margin: 5px;
}

div.activiteBig, div.activiteSmall, div.activiteMedium {
    height: 200px;
}

div.bigImg, div.mediumImg, div.smallImg {
    width: 100%;
    height: 70%;
}

div.bigTitle, div.mediumTitle, div.smallTitle {
    height: 30%;
    padding: 20px 10px 20px 20px;
}

div.bigImg img, div.mediumImg img, div.smallImg img {
    width: 100%;
}

/* Footer */ 

div.footerList {
    flex-direction: column;
}

div.divList {
    padding-bottom: 20px;
}