/* Import Fonts Google API */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* global */

* {
    font-family: 'Raleway', Helvetica, sans-serif;
    box-sizing: border-box;
    color: black;
}

body {
    font-size: 15px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;

}

h1 {
    font-size: 23px;
    margin-bottom: 10px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 17px;
}

div#container {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav nav"
    "filter filter"
    "article1 aside"
    "article2 article2"
    "footer footer";
    max-width: 1440px;
    height: 100vh;
    margin: auto;
} 
 
/* Header */

header.nav {
    background-color: white;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 40px 50px;
} /* Configure l'alignement et l'espacement du logo et de la navigation */

div.logo img {
    width: 60px;
    margin: 25px 0 25px 10px;
    padding-top: 25px;
}

header.nav nav {
    display: flex;
    justify-content: space-around;
}


a.linkNav {
    text-decoration: none;
    border-top: 2px solid #F2F2F2;
    padding: 45px 35px;
}

a.linkNav:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

/* Search */

main.search {
    grid-area: filter;
    margin: 0 50px 40px 50px;
}

div.searchIntro {
    margin-bottom: 25px;
}

form.searchForm {
    display: flex;
    height: 50px;
    margin-bottom: 30px;
} /* définition d'une hauteur + flex qui permet d'aligner les éléments */

label#city {
    width: 50px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center; /* permet de centrer l'icon gps */
    border-radius: 15px 0 0 15px;
    font-size: 17px;
} 

input.searchText {
    width: 240px;
    font-weight: 700;
    font-size: 17px;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #F2F2F2;
    padding-left: 20px;
    /* reset pour les navigateurs mobile */
    background-color: white;
    appearance: none;
    border-radius: 0;
}

input.searchButton {
    width: 130px;
    background-color: #0065fc;
    border: none;
    border-radius: 0 13px 13px 0;
    color: white;
    font-size: 17px;
    font-weight: 700;
    /* reset pour les navigateurs mobile */
    appearance: none;
}

button.mobileButton {
    display: none; /* n'affiche pas le bouton mobile */
}

div.searchFilter {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

div.searchFilter h3 {
    margin: 0 30px 10px 5px;
    padding-top: 10px;
}


div.filter {
    display: flex;
    flex-wrap: wrap;
}

button.filterBox {
    height: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #e0e0e0;
    background-color: white;
    border-radius: 50px;
    margin-right: 30px;
    padding: 3px 20px 3px 0;
    border-left: none;
    white-space: nowrap; /* Le texte reste sur une ligne */
    transition: width 500ms ease-in;
    position: relative;
}

i.filterIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #deebff;
    background-color: #deebff;
    color: #0065fc;
    font-size: 20px;
    margin-right: 15px;
    z-index: 1;
}

span.textButton {
    font-weight: 700;
    font-size: 17px;
    z-index: 1;

}

/* effet survol filtres */ 

span.jaugeBox {
    background-color: #deebff;
    border: 2px solid #deebff;
    border-radius: 80px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    transition: width 300ms ease-in;
} 

button.filterBox:hover .jaugeBox  {
    width: 102%; 
}

/* infobox paragraphe */


div.searchInfo {
    display: flex;
    align-items: flex-start;
}

div.infoIcon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px;
}

div.infoIcon i {
    font-size: 11px;
    color: #0065fc;
}

div.searchInfo p {
    padding-top: 3px;
}

/* Article hébergements */ 

article.article1 {

    background-color: #F2F2F2;
    padding: 20px;
    grid-area: article1;
    border-radius: 15px;
    margin: 0 20px 40px 50px;
}

.article1 h2 {
    margin: 15px;
    padding-top: 15px;
    padding-left: 5px;
}

p.more {
    margin: 10px;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: 700;
    font-size: 17px;
}

p.more a {
    text-decoration: none;

}


/* Cartes hébergements */

 div.marseille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5px;
}

div.marseilleCard {
    width: 88%;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 0 0 15px #e0e0e0;
    transition: transform 0.3s;
}

div.marseilleCard:hover {
    transform: scale(1.05);
    box-shadow: 3px 4px 20px gray;
}

div.marseilleCard a {
    text-decoration: none;
}

/* réglagle de la position des images */ 

div.marseilleImg {
    border-radius: 15px 15px 0 0;
    position: relative;
    height: 110px;
    overflow: hidden;
    margin: 5px;
}

div.marseilleImg .imgPosition1 {
    position: absolute;
    top:-20%;
    width: 100%;
}

div.marseilleImg .imgPosition2 {
    position: absolute;
    top: -70%;
    width: 100%;
}

div.marseilleImg .imgPosition3 {
    position: absolute;
    width: 100%;
}

div.marseilleImg .imgPosition4 {
    position: absolute;
    bottom: -100%;
    width: 100%;
}

/* ajustement des éléments textes de la carte */

div.marseilleBody {
    margin: 10px;
    padding-left: 10px;
}

div.marseilleBody h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

div.marseilleBody p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}

/* class pour les étoiles */ 

span.etoiles {
    font-size: 12px;
}

i.blueStar {
    color: #0065fc;
}

i.greyStar {
    color: #e0e0e0;
}

/* Aside Populaires */


aside.aside {
        background-color: #F2F2F2;
        grid-area: aside;
        margin: 0 50px 40px 20px;
        border-radius: 15px;
        padding: 20px;
    }

div.asideTitle {

    display: flex;
    justify-content: space-between; /* espace le titre et l'icone */ 
    align-items: center;
    margin: 15px;
    padding-top: 15px;
    
} 

i.iconChart {
    font-size: 21px;
    font-weight: 900;
}

/* Cartes populaires */ 

div.populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.populaireCard {
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 0 0 20px #e0e0e0;
    transition: transform 0.3s;
}

div.populaireCard:hover {
    transform: scale(1.05);
    box-shadow: 3px 4px 20px gray; 
} /* animation "zoom" au survol */ 

div.populaireCard a {
    display: flex;
    text-decoration: none;
}

/* réglagle de la position des images */ 

div.populaireImg {
    position: relative;
    border-radius: 15px 0 0 15px;
    margin: 5px;
    overflow: hidden;
    min-height: 135px;
    max-height: 150px;
    width: 125px;
    padding-right: 125px; /* taille du conteneur de l'image */ 
}

/* ajustement des images */ 

div.populaireImg .imgPosition5 {
    position: absolute;
    object-fit: cover;
    height: 150%;
    bottom: -28%;
}

div.populaireImg .imgPosition6 {
    object-fit: cover;
    position: absolute;
    height: 150%;
    bottom: -28%;  
}

/*ajustements du texte des cartes populaires  */ 

div.populaireBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding-left: 5px;
}

div.bodyText h3 {
    font-size: 16px;
    padding-top: 5px;
    margin-bottom: 10px;
}

div.bodyText p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}

/* Activités */

article.article2 {
    grid-area: article2;
    margin-bottom: 40px;
}

article.article2 h2 {
    margin: 20px 20px 30px 50px;
    padding-top: 15px;
    padding-left: 5px;
}

/* positionnement de la grid et définition de l'espacement des cards */

div.activites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "activite1 activite2 activite4 activite5"
    "activite1 activite3 activite4 activite6";
    align-items: flex-end;
}

div.activite1 {
    grid-area: activite1;
    margin: 0 20px 0 50px;
}

div.activite2 {
    grid-area: activite2;
    margin: 0 20px 0 20px;
}

div.activite3 {
    grid-area: activite3;
    margin: 0 20px 0 20px;
}

div.activite4 {
    grid-area: activite4;
    margin: 0 20px 0 20px;
}

div.activite5 {
    grid-area: activite5;
    margin: 0 50px 45px 20px;
}

div.activite6 {
    grid-area: activite6;
    margin: 0 50px 0 20px;
}

/* Style global */ 

div.activiteGlobal {
    border-radius: 20px;
    box-shadow: 0 0 15px #e0e0e0;
    transition: transform 0.3s;
}

div.activiteGlobal:hover {
    transform: scale(1.05);
    box-shadow: 3px 4px 20px gray;
}

div.activiteGlobal a {
    text-decoration: none;
}

div.activiteImg {
    border-radius: 20px 20px 0 0;
    position: relative;
    overflow: hidden;
}

div.activiteImg img {
    object-fit: cover;
    position: absolute;
}

div.activiteTitle {
    border-radius: 0 0 20px 20px;
    background-color: white;
    padding: 15px 10px 10px 20px;
}

/* Grandes activités */

div.activiteBig {
    height: 450px;
}

div.bigImg {
    height: 89%;
}

div.bigImg img {
    height: 100%;
}

div.bigTitle {
    height: 11%;
}

/* Moyennes activités */ 

div.activiteMedium {
    height: 225px;
}

div.mediumImg {
    height: 78%;
}

div.mediumImg img {
    width: 200%;
    height: 100%;
}

div.mediumTitle {
    height: 22%;
}

/* Petites activités */ 

div.activiteSmall {
    height: 180px;
}

div.smallImg {
    height: 70%;
}


div.smallTitle {
    height: 30%;
}

/* footer */ 

footer.footer {
    grid-area: footer;
    background-color: #F2F2F2;
}

div.footerList {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 40px 50px;
}
div.footerList h3 {
    padding: 20px 0 20px 0;
}

div.footerList ul {
    list-style-type: none;
}

li.listLink {
    padding-bottom: 10px;
}

li.listLink a {
    text-decoration: none;
}

/* media queries */ 

@media screen and (max-width:1279px) {

    div#container  {
        margin: auto;
    }
    
    body {
        font-size: 14px;
    }
    
    h1 {
        font-size: 23px;
        margin-bottom: 5px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 15px;
    }
    
    /* Header */ 

    header.nav {
        margin: 0 30px 30px 30px;
    }
    
    div.logo img {
        width: 55px;
        margin: 20px;
        padding-top: 20px;
    }
    
    a.linkNav {
        padding: 40px 25px;
    }
    
    /* Search */
    
    form.searchForm {
        height: 45px;
    }
    
    label#city {
        width: 45px;
        font-size: 15px;
    }
    
    input.searchText {
        width: 220px;
        font-size: 15px;
    }
    
    input.searchButton {
        font-size: 15px;
        width: 120px;
    }
    
    /* Filter */ 

    main.search {
        margin: 0 30px 30px 30px;
    }
    
    div.searchFilter h3 {
        margin: 0 20px 10px 5px;
    }
    
    button.filterBox {
        height: 45px;
        margin-right: 20px;
    }

    span.textButton {
        font-size: 15px;
    }
    
    i.filterIcon {
        width: 45px;
        height: 45px;
        font-size: 16px;
    }
    
    span.jaugeBox {
        width: 45px;
        height: 45px;
    }
    
    div.infoIcon {
        width: 20px;
        height: 20px;
    }
    
    div.infoIcon i {
        font-size: 10px;
    }
    
    /* article Hébergements */

    article.article1 {
        padding: 15px;
        margin: 0 10px 30px 30px;
    }

    article.article1 h2 {
        margin: 10px;
        padding-top: 5px;
    }
    
    p.more {
        padding: 5px 0 10px 5px;
        font-size: 16px;
    }
    
    /* Marseille card */
    
    div.marseilleCard {
        width: 90%;
        margin: 12px;
    }
    
    div.marseilleImg {
        height: 90px;
    }
    
    div.marseilleImg .imgPosition1 {
        top: 0%;
    }
    
    img.imgPosition3 {
        height: 110%;
    }
    
    div.marseilleBody {
        margin: 7px;
        padding-left: 7px;
    }
    
    div.marseilleBody h3 {
        font-size: 13px;
        margin-bottom: 3px;
    }
    
    div.marseilleBody p {
        font-size: 11px;
        margin-bottom: 3px;
    }
    
    span.etoiles {
        font-size: 10px;
    }
    
    /* Aside */ 
    
    aside.aside {
        padding: 15px;
        margin: 0 30px 30px 10px;
    }
    
    div.asideTitle {
        margin: 10px;
        padding-top: 5px;
    }
    
    i.iconChart {
        font-size: 17px;
    }
    
    /* Populaire cards */ 
    
    
    div.populaireCard {
        margin: 12px 10px 12px 10px;
    }
    
    div.populaireImg {
        width: 90px;
        min-height: 110px;
        padding-right: 90px;
    }
    
    div.populaireBody {
        margin: 5px;
    }
    
    div.bodyText {
        margin-right: 10px;
    }
    
    div.bodyText h3 {
        font-size: 13px;
        margin-bottom: 3px;
    } 
    
    div.bodyText p {
        font-size: 11px;
        margin-bottom: 3px;
    }
    
    /* Activités */

    article.article2 {
        margin: 0 20px 30px 20px;
    }
    
    article.article2 h2 {
        margin: 15px 15px 22px 15px;
    }
    
    div.activiteGlobal {
        margin: 0 15px 0 15px; 
    }
    
    div.activite5 {
        margin-bottom: 45px;
    }
    
    div.activiteTitle {
        padding: 12px 5px 12px 15px;
    }
    
    div.activiteTitle h3 {
        font-size: 13px;
    }
    
    div.activiteBig {
        height: 350px;
    }
    
    div.activiteMedium {
        height: 175px;
    }
    
    div.activiteSmall {
        height: 130px;
    }
    
    /* footer */ 
    
    div.footerList {
        margin: 20px 20px 30px 30px;
    }
    
}

/* Tablet screen */

@media screen and (max-width:991px) and (min-width:768px) {

    body { 
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 15px;
    }

    div#container {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "nav"
        "filter"
        "aside"
        "article1"
        "article2"
        "footer";
        height: 100vh;
        margin: auto;
    } 
    /* modification de la grid pour passer à une seule colonne et que le
    aside soit en 1ère position */

    /* Header */
        
    header.nav {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin-bottom: 20px;
    }  /* utilisation du header de la maquette mobile */ 

    header.nav nav {
        width: 100%;
    }

    div.logo img {
        margin: 25px 0 25px 0;
    }

    a.linkNav {
        width: 50%;
        padding: 10px;
        text-align: center;
        border-top: none;
        border-bottom: 2px solid #f2f2f2;
    }

    a.linkNav:hover {
        border-top:none;
        border-bottom: 2px solid #0065fc;
    }

    /* Search */ 
        
    main.search {
        grid-area: filter;
        margin: 0 15px 20px 15px; 
    }

    div.searchIntro {
        margin-bottom: 30px;
    }

    form.searchForm {
        margin-left: 8px;
        justify-content: center; /* centre la barre de recherche */
    }

    input.searchText {
        font-size: 15px;
    }


    input.searchButton {
        display: none; /* n'affiche pas le bouton desktop */ 
    }

    button.mobileButton {
        width: 45px;
        display: block;
        background-color: #0065fc;
        border: none;
        border-radius: 15px;
        position: relative;
        right: 10px; /* décalage du bouton mobile pour qu'il chevauche la barre de recherche */
    }

    .mobileButton i {
        color: white;
        font-size: 15px;
    }

    /* Filter */

    div.searchFilter h3 {
        font-size: 15px;
    }

    button.filterBox {
        margin: 5px;
        padding: 3px 15px 3px 0px;
    } /* redimmension pour que les éléments s'adapte */ 

    span.textButton {
        font-size: 15px;
    }

    /* Aside */ 
        
    aside.aside {
        background-color: #F2F2F2;
        margin: 0 15px 20px 15px;
        padding: 5px;
    }

    div.asideTitle {
        margin: 10px 10px 15px 10px;
    }

    div.populaire {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }  

    div.populaireCard {
        width: 32%;
        margin: 6px;
    } 

    div.populaireImg {
        width: 80px;
        padding-right: 80px;
        height: 110px;
    }

    div.populaireBody {
        margin: 10px 10px 10px 5px;
        padding-left: 0;
    }

    div.populaireBody h3 {
        font-size: 13px;
    }

    div.populaireBody p {
        font-size: 11px;
    }

    /* Article 1 */
        
    article.article1 {
        background-color: white;
        margin: 0 15px 20px 15px;
        padding: 5px 5px 15px 5px;
    }

    article.article1 h2 {
        margin: 10px 5px 15px 6px;
        padding-top: 5px;
        padding-left: 5px;
    }

    p.more {
        padding-left: 1px;
    }

    div.marseilleCard {
        width: 95.05%;
        margin: 6px;
    }

    div.marseilleBody h3 {
        font-size: 13px;
    }

    div.marseilleBody p {
        font-size: 11px;
    }

    /* Activités */ 

    article.article2 {
        margin: 0 10px 20px 10px;
    }

    article.article2 h2 {
        margin: 15px 10px 20px 5px;
    }

    div.activites {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "activite1 activite2 activite3"
        "activite4 activite5 activite6";
    } /* Redimension de la grid pour s'adapter au format */ 

     div.activiteGlobal {
        height: 200px;
        margin: 0 10px 20px 10px;
    }

    /* ajustement proportionnel de la bande blanche sur les cards */ 

    div.activiteTitle h3 {
        font-size: 13px;
    }

    div.bigImg {
        height: 80%;
    }

    div.bigImg img {
        width: 100%;
    }

    div.bigTitle {
        height: 20%;
    }

    div.mediumImg {
        height: 80%;
    }

    div.mediumTitle {
        height: 20%;
    }

    div.smallImg {
        height: 80%;
    }

    div.smallImg img {
        width: 100%;
        height: 190%;
    }

    div.smallTitle {
        height: 20%;
    }

    /* Footer */ 

    div.footerList {
        width: 85%;
        margin: 20px 20px 20px 30px;
    }

}

/* Mobile screen */ 

@media screen and (max-width:767px) {
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 15px;
    }

    div#container {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "nav"
        "filter"
        "aside"
        "article1"
        "article2"
        "footer";
        max-width: 480px;
        width: 100%;
        height: 100vh;
        margin: auto;
    } /* grid sur une seule colonne */ 
    
    /* Header */
    
    header.nav {
        flex-direction: column;
        justify-content: center;
        margin: 0 0 20px 0;
    }
    
    header.nav nav {
        width: 100%;
    } /* permet à la bordure des liens d'occuper toute la largeur */

    div.logo img {
        margin: 25px 0 25px 0;
    }
    
    a.linkNav {
        width: 50%; /* permet au soulignement bleu au hover d'être bien réparti */ 
        padding: 10px;
        text-align: center;
        border-top: none;
        border-bottom: 2px solid #f2f2f2;
    }
    
    a.linkNav:hover {
        border-top:none;
        border-bottom: 2px solid #0065fc;
    }
    
    /* Search */ 
    
    main.search {
        grid-area: filter;
        margin: 0 10px 20px 10px; 
    }
    
    div.searchIntro {
        margin: 0 0 30px 10px;
    }
    
    form.searchForm {
        margin-left: 8px;
        justify-content: center; /* centre la barre de recherche */
    }
    
    div.searchFilter {
        margin-left: 10px;
    }

    div.searchInfo {
        margin-left: 10px;
    }
    
    input.searchButton {
        display: none; /* n'affiche pas le bouton desktop */ 
    }
    
    button.mobileButton {
        width: 45px;
        display: block;
        background-color: #0065fc;
        border: none;
        border-radius: 15px;
        position: relative;
        right: 10px; /* décalage du bouton mobile pour qu'il chevauche la barre de recherche */
    }
    
    .mobileButton i {
        color: white;
        font-size: 15px;
    }
    
    /* Filter */
    
    button.filterBox {
        margin: 5px;
        padding: 3px 15px 3px 0px;
    } /* redimmension pour que les éléments s'adapte à la maquette mobile */ 
    
    /* Aside */ 
    
    aside.aside {
        margin: 0 0 20px 0;
        border-radius: 0;
        padding: 10px 5px 25px 5px;
    }
    
    div.asideTitle {
        margin: 20px 15px 10px 15px;   
    }

    div.populaire {
        flex-direction: column;
        align-items: center;
    }
    
    div.populaireCard {
        width: 93%; 
        margin: 5px;
    } /* définition d'une largeur de card pour que tout l'espace soit occupé et que les cards de chaque 
    catégorie soient identiques */ 

    div.populaireBody h3 {
        font-size: 15px;
    }

    div.populaireBody p {
        font-size: 12px;
    }
    
    /* Article 1 */
    
    article.article1 {
        background-color: white;
        margin: 0 0 20px 0;
        border-radius: 0;
        padding: 10px 5px 0 5px;
    }
    
    article.article1 h2 {
        margin: 10px 5px 10px 10px;
        padding-top: 5px;
        padding-left: 5px;
    }

    p.more {
        margin-left: 20px;
    }
    
    div.marseille {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    div.marseilleCard {
        width: 93%;
        margin: 5px;
    }

    div.marseilleImg .imgPosition1 {
        top: -100%;
    }

    div.marseilleImg .imgPosition2 {
        top: -195%;
    }

    div.marseilleImg .imgPosition4 {
        top: -260%;
    }

    div.marseilleBody h3 {
        font-size: 15px;
    }

    div.marseilleBody p {
        font-size: 12px;
    }
    /* Activité */

    article.article2 {
        margin: 0 0 20px 0;
        padding: 10px 5px 0 5px;
    }

    article.article2 h2 {
        margin: 0 10px 10px 10px;
    }
    
    div.activites {
        display: flex;
        flex-direction: column;
        align-items: center;
    } /* passage en flex pour que les card s'ajustent en colonnes */ 
    
    div.activiteGlobal {
        width: 93%;
        margin: 5px;
        height: 200px;
    }
    
    div.activiteImg {
        width: 100%;
        height: 70%;
    }

    div.activiteImg img {
        width: 100%;
    }
    
    div.activiteTitle {
        height: 30%;
        padding: 20px 10px 20px 20px;
    }
    
    /* Footer */ 
    
    div.footerList {
        flex-direction: column;
        margin: 20px 10px 20px 35px;
    }
    
    div.divList {
        padding-bottom: 20px;
    }
}